*{
   margin : 0;
   padding: 0;
   box-sizing: border-box;
}

.header {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #41B3A2;
  color: aliceblue;
  padding: 20px 0;
  gap : 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31363F;
}

.subnav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;  

}

.subnav a {
  text-decoration: none;
  color: aliceblue;
 
}

.subnav a:hover {
  color: #41B3A2; 
}



.mainBody {
  min-height: 100vh; 
  background-color: #4CC9FE; 
  width: 100%; 
  padding: 2rem; 
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  gap: 1rem; 
}

.mainBody h1 {
  font-size: 2rem;
  color: #333; 
}

.mainBody p {
  font-size: 1rem;
  color: #555; 
}


.pollution-info-container {
  margin: 10px;
  font-family: Arial, sans-serif;
  
}

.pollution-fact {
  margin-bottom: 20px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
}

.pollution-fact h2 {
  color: #4CC9FE;
  margin-bottom: 0.5rem;
}

.pollution-fact p {
  color: #333;
}

.pollution-fact ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #333;
}

.pollution-fact li {
  margin-bottom: 10px;
}

input{
 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;

}

button {
  padding: 10px 20px;
  background-color: #4CC9FE;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
